In [80]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import time

In [81]:
data = pd.read_csv('D:/Programming/Python/DataScience/movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
637,tt1068680,70000000,225990978,Yes Man,Jim Carrey|Zooey Deschanel|Rhys Darby|Sasha Al...,Peyton Reed,One Word Can Change Everything.,Carl Allen has stumbled across a way to shake ...,104,Comedy|Romance,The Zanuck Company|Heyday films|Warner Bros.,12/9/2008,6.3,2008
874,tt0275847,80000000,145771527,Lilo & Stitch,Chris Sanders|Daveigh Chase|Tia Carrere|David ...,Dean DeBlois|Chris Sanders,He's coming to our galaxy.,A lonely Hawaiian girl named Lilo is being rai...,85,Animation,Walt Disney Pictures|Walt Disney Feature Anima...,6/21/2002,6.9,2002
969,tt0279493,25000000,41604473,Undercover Brother,Eddie Griffin|Chris Kattan|Denise Richards|Aun...,Malcolm D. Lee,He's All Action,"An Afro-American organization, the B.R.O.T.H.E...",86,Action|Comedy,Universal Pictures,5/31/2002,5.4,2002
1472,tt0472043,40000000,120175290,Apocalypto,Rudy Youngblood|Dalia HernÃ¡ndez|Jonathan Brew...,Mel Gibson,"When the end comes, not everyone is ready to go","Set in the Mayan civilization, when a man's id...",139,Thriller|Action|Adventure|Drama,Icon Productions|Icon Entertainment Internatio...,12/7/2006,7.1,2006
967,tt0256276,25000000,10113733,Possession,Gwyneth Paltrow|Aaron Eckhart|Jeremy Northam|J...,Neil LaBute,The past will connect them. The passion will p...,"Maud Bailey, a brilliant English academic, is ...",102,Drama|Mystery,Warner Bros. Pictures|Focus Features|Baltimore...,10/2/2002,6.6,2002

In [82]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [83]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'], axis = 1)
data['filmlength']=data['original_title'].str.len()
data['companies'] = data.production_companies.apply(lambda s: s.split('|'))
data['filmwords'] = data.overview.apply(lambda s: len(s.split()))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [84]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [85]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget']==data['budget'].max()][['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [86]:
# можно добавлять разные варианты решения
data.iloc[data['budget'].idxmax()][['original_title','imdb_id']]

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [87]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [88]:
#data[data['runtime']==data['runtime'].max()][['original_title','imdb_id']]
data.loc[data['runtime'].idxmax()][['original_title','imdb_id']]

original_title    Gods and Generals
imdb_id                   tt0279111
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [89]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [90]:
data.loc[data['runtime'].idxmin()][['original_title','imdb_id']]

original_title    Winnie the Pooh
imdb_id                 tt1449283
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [91]:
answers['4'] = data['runtime'].mean()

In [92]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [93]:
answers['5'] = data['runtime'].median()

In [94]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [95]:
answers['6'] = 'Avatar (tt0499549)'

In [96]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data['profit'].idxmax()][['original_title','imdb_id']]

original_title       Avatar
imdb_id           tt0499549
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [97]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [98]:
data.loc[data['profit'].idxmin()][['original_title','imdb_id']]

original_title    The Lone Ranger
imdb_id                 tt1210819
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [99]:
answers['8'] = data[data['profit']>0]['imdb_id'].count()

In [100]:
data[data['profit']>0]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [101]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [102]:
data2008 = data[data['release_year']==2008]
data2008.loc[data2008['revenue'].idxmax()][['original_title','imdb_id']]

original_title    The Dark Knight
imdb_id                 tt0468569
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [103]:
answers['10'] = 'The Lone Ranger (tt1210819)'
data2 = data[data['release_year'].isin(['2012', '2013', '2014'])]
data2.loc[data2['profit'].idxmin()][['original_title','imdb_id']]
display(type(data))

pandas.core.frame.DataFrame

11. Какого жанра фильмов больше всего?

In [104]:
data_exp = data[["profit","release_year","production_companies"]].explode("production_companies")

In [105]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = data['genres'].str.split('|').explode().value_counts().idxmax()
nf = data['genres'].str.split('|').explode().value_counts().idxmax()
display(nf)

'Drama'

ВАРИАНТ 2

In [106]:
data['genres'].str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [107]:
prof = data[data['profit']>0]
nf = prof['genres'].str.split('|').explode().value_counts().idxmax()
display(nf)
answers['12'] = prof['genres'].str.split('|').explode().value_counts().idxmax()

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [108]:
answers['13'] = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).idxmax()
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [109]:
answers['14'] = data[data['genres'].str.contains('Action')]['director'].str.split('|').explode().value_counts().idxmax()
data[data['genres'].str.contains('Action')]['director'].str.split('|').explode().value_counts().idxmax()

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [110]:
pd.options.mode.chained_assignment = None 
data_sub = data.loc[data['release_year']==2012]
data_sub.cast = data_sub.cast.apply(lambda s: s.split('|'))
data_sub_exploded = data_sub.explode('cast')
answers['15'] = data_sub_exploded.groupby(by = 'cast').revenue.sum().sort_values(ascending = False).idxmax()
print(data_sub_exploded.groupby(by = 'cast').revenue.sum().sort_values(ascending = False).idxmax())

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [111]:
data_sub = data[data['budget']>data['budget'].mean()]
data_sub.cast = data_sub.cast.apply(lambda s: s.split('|'))
data_sub_exploded = data_sub.explode('cast')
answers['16'] = data_sub_exploded['cast'].value_counts().idxmax()
print(data_sub_exploded['cast'].value_counts().idxmax())

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [112]:
Nick = data[['imdb_id','cast', 'genres']]
answers['17'] = Nick[Nick['cast'].str.contains('Nicolas Cage')]['genres'].str.split('|').explode().value_counts().idxmax()
print(Nick[Nick['cast'].str.contains('Nicolas Cage')]['genres'].str.split('|').explode().value_counts().idxmax())

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [113]:
answers['18'] = data[data['production_companies'].str.contains('Paramount Pictures')].groupby(by = 'original_title').profit.sum().idxmin()
#data[data['production_companies'].str.find('Paramount Pictures')!=-1].sort_values(by='profit', ascending = True)
print(data[data['production_companies'].str.contains('Paramount Pictures')].groupby(by = 'original_title').profit.sum().idxmin())

K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [114]:
answers['19'] = data.groupby(by = 'release_year').revenue.sum().idxmax()
print(data.groupby(by = 'release_year').revenue.sum().idxmax())

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [115]:
answers['20'] = data[data['production_companies'].str.contains('Warner Bros')].groupby(by = 'release_year').profit.sum().idxmax()
data[data['production_companies'].str.contains('Warner Bros')].groupby(by = 'release_year').profit.sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [116]:
answers['21'] = data.release_date.apply(lambda s: time.strptime(s, '%m/%d/%Y').tm_mon).value_counts().idxmax()
print(data.release_date.apply(lambda s: time.strptime(s, '%m/%d/%Y').tm_mon).value_counts().idxmax())

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [117]:
answers['22'] = data.release_date.apply(lambda s: time.strptime(s, '%m/%d/%Y').tm_mon).value_counts().filter(items = [6, 7, 8]).sum()
data.release_date.apply(lambda s: time.strptime(s, '%m/%d/%Y').tm_mon).value_counts().filter(items = [6, 7, 8]).sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [118]:
answers['23'] = data[data.release_date.apply(lambda s: time.strptime(s, '%m/%d/%Y').tm_mon).isin([1, 2, 12])].director.value_counts().idxmax()
print(data[data.release_date.apply(lambda s: time.strptime(s, '%m/%d/%Y').tm_mon).isin([1, 2, 12])].director.value_counts().idxmax())

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [119]:
data_exploded = data.explode('companies')
answers['24'] = data_exploded.groupby(by = 'companies').filmlength.mean().idxmax()
data_exploded.groupby(by = 'companies').filmlength.mean().sort_values(ascending = False)

companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: filmlength, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [120]:
answers['25'] = data_exploded.groupby(by = 'companies').filmwords.mean().idxmax()
data_exploded.groupby(by = 'companies').filmwords.mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [121]:
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [122]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))                
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)
#display(combo_list)

Emma Watson Rupert Grint            8
Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
Robert Pattinson Taylor Lautner     5
Kristen Stewart Robert Pattinson    5
Hugh Jackman Ian McKellen           5
Paul Walker Vin Diesel              5
Kristen Stewart Taylor Lautner      5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

In [123]:
pd.options.mode.chained_assignment = None 
#передаем в функцию пару имен, склеиваем их и сортируем в получившейся строке слова
#таким образом на выходе получается результат для перестановок имен в паре
def sortwords(name1, name2):
    s = name1.strip()+' '+name2.strip()
    words = s.split(" ")
    words.sort()
    return " ".join(words)

#Попытка решить данную задачу с помощью самообъединения таблицы соответсвия фильм-актер
data['castlist'] = data.cast.apply(lambda s: s.split('|'))

tab = data.explode('castlist')[['imdb_id', 'castlist']]

#объединяем таблицу саму с собой по идентификатору фильма
joined = tab.merge(tab, on='imdb_id', how='inner')
#и исключаем пары актеров самих с собой
jn = joined.loc[(joined['castlist_x']!=joined['castlist_y'])]
#добавляем столбец-индекс, который будет одинакоым для пар-перестановок 
jn['ind']=jn.apply(lambda s: sortwords(s.castlist_x, s.castlist_y), axis=1)
#удаляем дубликаты
jn1 = jn.drop_duplicates(subset = ['imdb_id', 'ind'], keep = 'first', inplace = False)
#подсчитываем наиболее часто встречающиеся пары
jp = jn1['ind'].value_counts()
display(jp)
#результат не очень читаемый, но может быть расшифрован таким запросом:
display(jn1[jn1['ind']=='Daniel Grint Radcliffe Rupert'])

Emma Grint Rupert Watson                8
Daniel Emma Radcliffe Watson            8
Daniel Grint Radcliffe Rupert           8
Bonham Carter Depp Helena Johnny        6
Ben Owen Stiller Wilson                 6
                                       ..
Brad J.K. Pitt Simmons                  1
Gabriel Izabella Miko Misha             1
Dina Reese Spybey-Waters Witherspoon    1
Kidman Nicole Penn Sean                 1
Audrey Ian McKellen Tautou              1
Name: ind, Length: 17942, dtype: int64

,imdb_id,castlist_x,castlist_y,ind
6051,tt0417741,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert
9352,tt0926084,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert
12417,tt0241527,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert
18042,tt1201607,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert
21592,tt0295297,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert
32768,tt0330373,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert
38968,tt0304141,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert
41709,tt0373889,Daniel Radcliffe,Rupert Grint,Daniel Grint Radcliffe Rupert

In [124]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [125]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [126]:
# и убедиться что ни чего не пропустил)
len(answers)

27